{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<div class="page-title">
    <h1>Галерия</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <div class="gallery-album-grid">
        {% for album in albums %}
        <div class="gallery-album-card">

            <a href="{% url 'gallery:gallery_detail' album.code %}">
                {% if album.cover_image %}
                    <img src="{{ album.cover_image.url }}" alt="{{ album.title }}">
                {% else %}
                    <img src="{% static 'assets/images/default_gallery_cover.jpg' %}" alt="{{ album.title }}">
                {% endif %}
            </a>

            <h2>
                <a href="{% url 'gallery:gallery_detail' album.code %}">
                    {{ album.title }}
                </a>
            </h2>

            {% if album.related_news %}
                <p class="gallery-related-news">
                    Свързано с:  
                    <a href="{{ album.related_news.get_absolute_url }}">
                        {{ album.related_news.title }}
                    </a>
                </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
