{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-container">
    <h1>Творчество</h1>

    <div class="rich-page">
        <p>
            В този раздел ще представяме творчеството на нашите ученици – есета, стихове,
            рисунки, проекти и други артистични изяви.
        </p>

        <p>
            Ако желаете ваш творчески материал да бъде публикуван тук, можете да го изпратите
            на училищния имейл:
            <strong>info-1500219@edu.mon.bg</strong>
        </p>

        <hr>

        <h2>Ученически творби</h2>
        <p>
            Скоро тук ще бъдат добавени първите творби. 💫
        </p>

    </div>
</div>
{% endblock %}
