{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>Обществен съвет</h1>
    
    <p>Със заповед №111/29.11.2016 г. на Директора на ТГ „Васил Е. Априлов“ е определен броят на членовете на Обществения съвет - 5 (пет), като не по-малко от 2/3 от представителите на родителите в Обществения съвет са родители на ученици от училището.</p>
 
    <p>Със заповед №РД-08-907/17.11.2022 г. на Началника на РУО - Плевен е определена <strong>Снежана Йорданова Георгиева</strong> за представител на Министъра на образованието и науката, а <strong>Яна Николаева Личева</strong> - за резервен член.</p>

    <p>Със заповед №113/21.11.2022 г. на Директора на ТГ „В. Е. Априлов“ е определен поименния състав на обществения съвет на училището:</p>
    <ol>
        <li>Снежана Йорданова Георгиева – Старши експерт по организация на средното образование в РУО - Плевен</li>
        <li>Мая Славчева Дакова - представител на работодателите, "Корект-Ди-Ма" ООД</li>
        <li>Милен Тодоров Георгиев – родител на ученик от Х а клас</li>
        <li>Мария Стефанова Илиева – родител на ученик от ІХ а клас</li>
        <li>Наталия Димитрова Илиева – родител на ученик от VІІІ а клас</li>
    </ol>
    
    <p>Резервни членове:</p>
    <ol>
        <li>Яна Николаева Личева – Старши експерт по природни науки и екология в РУО - Плевен</li>
        <li>Биляна Иванова Иванова – представител на работодателите, счетоводител на самостоятелна практика</li>
        <li>Евгения Евгениева Върбанова – родител на ученик от IХ а клас</li>
        <li>Силвия Стоянова Гърковска – родител на ученик от VІІІ а клас</li>
    </ol>

</div>
{% endblock %}
