{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>Обществен съвет</h1>
    
    <p>Със заповед №111/29.11.2016 г. на Директора на ТГ „Васил Е. Априлов“ е определен броят на членовете на Обществения съвет - 5 (пет), като не по-малко от 2/3 от представителите на родителите в Обществения съвет са родители на ученици от училището.</p>
 
    <p>Със заповед №РД-08-770/19.09.2025 г. на Началника на РУО - Плевен е определен <strong>Виолин Валентинов Стоянов</strong> за представител на Министъра на образованието и науката, а <strong>Яна Николаева Личева</strong> - за резервен член.</p>

    <p>Със заповед №138/05.12.2025 г. на Директора на ТГ „В. Е. Априлов“ е определен поименния състав на обществения съвет на училището:</p>
    <ol>
        <li>Виолин Валентинов Стоянов – началник на отдел АППСИО в РУО - Плевен</li>
        <li>Мая Славчева Дакова - представител на работодателите, "Корект-Ди-Ма" ООД</li>
        <li>Веселка Димитрова Иванова – родител на ученик от VIII а клас</li>
        <li>Петя Нешкова Маринова – родител на ученик от VIII а клас</li>
        <li>Калина Мариянова Гергушка – родител на ученик от IX а клас</li>
    </ol>
    
    <p>Резервни членове:</p>
    <ol>
        <li>Яна Николаева Личева – Старши експерт по природни науки и екология в отдел ОМДК в РУО - Плевен</li>
        <li>Биляна Иванова Иванова – представител на работодателите, счетоводител на самостоятелна практика</li>
        <li>Силвия Александрова Дунова – родител на ученик от ІХ а клас</li>
        <li>Анелия Росенова Михайлова – родител на ученик от ХI а клас</li>
    </ol>

</div>
{% endblock %}
