{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>Мисия и визия</h1>

    <p><strong>Търговска гимназия „Васил Априлов“</strong> - гр. Червен Бряг е изградила своето име като едно от утвърдените училища в сферата на средното образование в България.</p>

    <p>Обучението е синоним на високо качество на образование. Основният принос за това се дължи на екипа, състоящ се от взискателни преподаватели, притежаващи висока квалификация и опит.</p>

    <p>Мисията на екипа е да създава образователна среда, която да вдъхновява и мотивира учениците да усвояват знания и умения, които са необходими за техния успех в XXI-ви век.</p>

    <p><strong>Дейността ни е насочена към:</strong>
        <ul>
            <li>Реализиране на общозадължителното обучение на учениците от 8-ми до 12-ти клас.</li>
            <li>Формиране на личности с висока интелектуална подготовка и култура, с ярко изразено гражданско съзнание и поведение, способни за ефективна обществена реализация.</li>
            <li>Възпитание и обучение според държавните образователни стандарти и стандартите на Европейския съюз в духа на демократичните ценности.</li>
            <li>Способност за адекватно ориентиране в динамично променящия се съвременен свят.</li>
        </ul>
    </p>

    <p><strong>Цели, към които се придържа ТГ „Васил Априлов“, гр. Червен бряг:</strong>
        <ul>
            <li>Утвърждаване на училището като привлекателен образователно-възпитателен, културен, спортен и информационен център на местната общност.</li>
            <li>Осигуряване на знания и личностни умения у учащите се чрез квалифицирани учители с педагогически дарби и стремеж към иновации.</li>
            <li>Грижа и внимание към всеки ученик, зачитане на човешкото достойнство, творчески подход за утвърждаване на младия човек като гражданин на България и света.</li>
            <li>Ред и сигурност, противодействие срещу проявите на агресия и насилие.</li>
        </ul>
    </p>

</div>
{% endblock %}
