{% extends "core/base.html" %} 
{% load static %}

{% block content %}
<div class="page-container">

    <div class="page-title-with-logo">
        <img src="{% static 'assets/images/logo.png' %}" alt="Лого" class="page-title-logo">
        <h1>Училище с традиции</h1>
    </div>

    <p><strong>Това е най-старото и най-реномираното средно учебно заведение в региона, което осигурява на своите възпитаници:</strong></p>

    <ul>
        <li><strong>Високо качество на обучението</strong>, осъществявано от авторитетен и високо квалифициран преподавателски състав;</li>
        <li>Конкурентноспособност и <strong>успешна професионална реализация;</strong></li>
        <li><strong>Добре оборудвани кабинети и компютърни зали</strong> с достъп до интернет, библиотека и физкултурен салон;</li>
        <li><strong>Разширено езиково обучение</strong> с възможност за международно признание.</li>
    </ul>

    <p>
        <strong>Търговска гимназия “Васил Априлов”</strong> навлиза в XXI век като утвърдено и желано средно учебно заведение – <strong>училище с традиции!</strong> В ускорения ритъм на модерните времена печелят хората, които са крачка напред във времето.
    </p>

    <p><strong><em>ИНВЕСТИРАЙТЕ ВРЕМЕТО И ИНТЕЛЕКТУАЛНИЯ СИ ПОТЕНЦИАЛ В ТЪРГОВСКА ГИМНАЗИЯ “ВАСИЛ АПРИЛОВ” – ЗА ДА СПЕЧЕЛИТЕ САМОЧУВСТВИЕ И ГАРАНТИРАН УСПЕХ!</em></strong></p>

    <!-- ТУК НЯКАКВИ ПОДХОДЯЩИ СНИМКИ, АКО ИМА и да сменим специалностите -->

    <!-- <div class="rich-gallery">        
        <figure>
            <a href="{% static 'assets/images/base_1.jpg' %}" class="glightbox" data-gallery="base-gallery">
                <img src="{% static 'assets/images/base_1.jpg' %}" alt="Материална база 1">
            </a>
            <figcaption>Материална база 1</figcaption>
        </figure>
    </div> -->

    <!-- <div class="rich-page">
        <img src="../../static/core/images/base_2.jpg" alt="Втора снимка">
        <img src="{% static 'assets/images/base_1.jpg' %}" alt="Материална база 1">
        <img src="{% static 'assets/images/base_2.jpg' %}" alt="Материална база 2">
    </div> -->

</div>
{% endblock %}