{% extends "core/base.html" %}

{% load static %}

{% block content %}
<style>
    .aprilov-img {
        height: 100px;
    }
</style>

<div class="page-container">
    <h1>Екип - имена и длъжност</h1>
    <div>
        <img src="{% static 'assets/images/v_aprilov.jpg' %}" alt="Васил Априлов" class="aprilov-img">
        <p><strong>СПИСЪК НА КОЛЕКТИВА ПРИ ТЪРГОВСКА ГИМНАЗИЯ „ВАСИЛ АПРИЛОВ“ - гр. ЧЕРВЕН БРЯГ</strong></p>
    </div>
    
    <p><strong>Директор:</strong></p>
    <ol>
        <li>Виолета Стоянова Манолева</li>
    </ol>
    
    
    <p><strong>Административен персонал:</strong></p>
    <ol>
        <li>Николинка Иванова Иванова - Главен счетоводител</li>
        <li>Маргарита Христова Маринова - ЗАС</li>
    </ol>
    
    <p><strong>Преподаватели:</strong></p>
    <ol>
        <li>Иванка Валентинова Илиева - учител по български език и литература / история и цивилизация</li>
        <li>Надежда Стефанова Гълъбова-Йорданова - учител по чужд език - английски език</li>
        <li>Веселка Иванова Христова - учител по математика и информационни технологии</li>
        <li>Мая Ганчева Дикова - учител по биология и здравно образование, химия и опазване на околната среда, физика и астрономия</li>
        <li>Цветелинка Генова Христова - учител по физическо възпитание и спорт</li>
        <li>Десислава Миленова Велкова - учител по специални предмети</li>
        <li>Евалина Шибилова Емилова - учител по специални предмети</li>
        <li>Мария Валериева Вълкова - учител по специални предмети</li>
        <li>Йоана Иванова Петкова-Андреевска - учител по специални предмети</li>
    </ol>
    
    <p><strong>Обслужващ персонал:</strong></p>
    <ol>
        <li>Мария Димитрова Георгиева - хигиенист</li>
    </ol>

</div>
{% endblock %}
