{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<div class="page-title">
    <div class="page-title-with-logo">
        <img src="{% static 'assets/images/logo.png' %}"
             alt="Лого"
             class="page-title-logo">
        <h1>История на училището</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <section>
        <h2>Училище с традиции</h2>

        <p><strong>Това е най-старото и най-реномираното средно учебно заведение в региона, което осигурява на своите възпитаници:</strong></p>

        <ul>
            <li><strong>Високо качество на обучението</strong>, осъществявано от авторитетен и високо квалифициран преподавателски състав;</li>
            <li>Конкурентноспособност и <strong>успешна професионална реализация;</strong></li>
            <li><strong>Добре оборудвани кабинети и компютърни зали</strong> с достъп до интернет, библиотека и физкултурен салон;</li>
            <li><strong>Разширено езиково обучение</strong> с възможност за международно признание.</li>
        </ul>

        <p>
            <strong>Търговска гимназия “Васил Априлов”</strong> навлиза в XXI век като утвърдено и желано средно учебно заведение – <strong>училище с традиции!</strong> В ускорения ритъм на модерните времена печелят хората, които са крачка напред във времето.
        </p>

        <p><strong><em>ИНВЕСТИРАЙТЕ ВРЕМЕТО И ИНТЕЛЕКТУАЛНИЯ СИ ПОТЕНЦИАЛ В ТЪРГОВСКА ГИМНАЗИЯ “ВАСИЛ АПРИЛОВ” – ЗА ДА СПЕЧЕЛИТЕ САМОЧУВСТВИЕ И ГАРАНТИРАН УСПЕХ!</em></strong></p>
    </section>

    <hr>

    <section class="school-anthem">
        <h2>Химн</h2>

        <div class="anthem-meta">
            <h3>Песен за Търговската гимназия</h3>
            <p>
                <em>
                    Текст: Дафинка Божкова<br>
                    Музика: Веселин Йотов
                </em>
            </p>
        </div>

        <div class="anthem-lyrics">
            <p>
                Приятели сме ние<br>
                на вятъра-кат птици.<br>
                В Търговската гимназия<br>
                сме славни ученици.
            </p>

            <p>
                А времето все бърза<br>
                и мами ни животът,<br>
                но бдят над нас усърдно<br>
                учители със опит.
            </p>

            <p>
                Със „Клас, стани!“ живеем,<br>
                за бизнеса се готвим,<br>
                над новите уроци<br>
                ний честичко се потим.
            </p>

            <p>
                Финанси, право, сметки –<br>
                това ни е съдбата,<br>
                задачи и есета<br>
                объркват ни главата.
            </p>

            <p>
                Искрата, що запали<br>
                Априловият огън,<br>
                във нас ще се разгаря –<br>
                да знаем и да можем.
            </p>

            <p class="anthem-chorus"><em>
                ПРИПЕВ:<br>
                Търговска гимназия наша, здравей!<br>
                Във теб на Априлов заветът живей!<br>
                Дори да отидем накрая на света,<br>
                ти винаги ще грееш в нашите сърца!
            </p></em>
        </div>

        <div class="anthem-audio">
            <audio controls>
                <source src="{% static 'assets/audio/himn_tg_aprilov.mp3' %}" type="audio/mpeg">
                Вашият браузър не поддържа аудио плейъра.
            </audio>
        </div>
    </section>

    <hr>


    <section>
        <h2>История</h2>

        <p><strong>Търговска гимназия „Васил Априлов“</strong> - гр. Червен бряг е учебно заведение с дългогодишна история, отворило врати, за да посрещне своите жадни за знание възпитаници, поемащи по пътя към новото, непознатото, неизвестното, пътя към бъдещето.</p>

        <p>Началото е поставено през далечната 1921 г. Със заповед, издадена от Министерството на търговията, промишлеността и труда, е открито Нисше училище по търговия и кооперативно дело с двугодишен курс на обучение.</p>

        <p>През годините учебното заведение претърпява редица организационни и структурни промени. През 1953 г. след референдума за република, Търговската гимназия е преименувана на Икономически техникум „Васил Евстатиев Априлов“.</p>

        <p>По случай своя 50-годишен юбилей през 1971 г. училището е наградено с орден „Кирил и Методий“ - Първа степен.</p>

        <p> През месец април 2003 г. със заповед, издадена от министъра на образованието, Техникумът отново е преобразуван в Търговска гимназия, която през годините се утвърждава като  културно-образователен център в община Червен бряг.</p>

        <p><strong>TГ „Васил Априлов“</strong> се адаптира към новите реалности на пазарната икономика и европейските стандарти за професионално образование.</p>

        <p>В своето развитие учебното заведение се наложи като професионален и духовен център, благодарение усилията на поколения учители, всеотдайно работили и работещи за формиране на подрастващите.</p>

        <p>Дълги години, крачка по крачка, общоучилищният колектив вървеше по пътя на успеха. Поколение след поколение хиляди възпитаници преминаваха като ято през класните стаи, усвояваха знания и отлитаха, за да ги приложат на практика в живота.</p>

        <p>Днес <strong>ТГ „Васил Априлов“</strong> е училище от висока класа, престижно и предпочитано от много млади хора.</p>

        <p>Да си завършил гимназията и днес е привилегия, повод за открита гордост, мерило за трайни знания и умения, стимул за духовна и практическа съзидателна дейност. Ако искате да бъдете специалисти в избраната от Вас професия, желаете да получите най-добрата професионална подготовка, мечтаете да се реализирате в живота, точно това е Вашето училище!</p>

        <p>Директор на учебното заведение е г-жа Виолета Манолева.</p>
    </section>
    <hr class="hr-end">
    
</div>
{% endblock %}
