{% extends "core/base.html" %} 
{% load static %}

{% block page_title %}
<div class="page-title">
    <h1>За нас</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <ul class="link-list">
        <li><h3><a class="content-link" href="{% url 'core:about_history' %}">История</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:about_base' %}">Материална база</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:about_mission' %}">Мисия и визия</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:about_team' %}">Екип</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:about_council' %}">Обществен съвет</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:about_profile' %}">Профил на купувача</a></h3></li>
    </ul>
    <hr class="hr-end">
    
</div>
{% endblock %}
