{% extends "core/base.html" %}

{% block content %}
<div class="page-container">

    <h1>История на училището</h1>

    <p><strong>Търговска гимназия „Васил Априлов“</strong> - гр. Червен бряг е учебно заведение с дългогодишна история, отворило врати, за да посрещне своите жадни за знание възпитаници, поемащи по пътя към новото, непознатото, неизвестното, пътя към бъдещето.</p>

    <p>Началото е поставено през далечната 1921 г. Със заповед, издадена от Министерството на търговията, промишлеността и труда, е открито Нисше училище по търговия и кооперативно дело с двугодишен курс на обучение.</p>

    <p>През годините учебното заведение претърпява редица организационни и структурни промени. През 1953 г. след референдума за република, Търговската гимназия е преименувана на Икономически техникум „Васил Евстатиев Априлов“.</p>

    <p>По случай своя 50-годишен юбилей през 1971 г. училището е наградено с орден „Кирил и Методий“ - Първа степен.</p>

    <p> През месец април 2003 г. със заповед, издадена от министъра на образованието, Техникумът отново е преобразуван в Търговска гимназия, която през годините се утвърждава като  културно-образователен център в община Червен бряг.</p>

    <p>Учебното заведение дава отлична подготовка и по специалните, и по общообразователните предмети. Предлага подготовка по специалности „Банково дело“ и „Икономика и мениджмънт“.</p>

    <p><strong>TГ „Васил Априлов“</strong> се адаптира към новите реалности на пазарната икономика и европейските стандарти за професионално образование.</p>

    <p>В своето развитие учебното заведение се наложи като професионален и духовен център, благодарение усилията на поколения учители, всеотдайно работили и работещи за формиране на подрастващите.</p>

    <p>Дълги години, крачка по крачка, общоучилищният колектив вървеше по пътя на успеха. Поколение след поколение хиляди възпитаници преминаваха като ято през класните стаи, усвояваха знания и отлитаха, за да ги приложат на практика в живота.</p>

    <p>Днес <strong>ТГ „Васил Априлов“</strong> е училище от висока класа, престижно и предпочитано от много млади хора.</p>

    <p>Да си завършил гимназията и днес е привилегия, повод за открита гордост, мерило за трайни знания и умения, стимул за духовна и практическа съзидателна дейност. Ако искате да бъдете специалисти в избраната от Вас професия, желаете да получите най-добрата професионална подготовка, мечтаете да се реализирате в живота, точно това е Вашето училище!</p>

    <p>Директор на учебното заведение е г-жа Виолета Манолева.</p>

</div>
{% endblock %}
