{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<div class="page-title">
    <h1>Прием</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <p>
        <a 
            class="file-link content-link" target="_blank"
            href="{% static 'assets/documents/тг-Ч.бряг-ДПП_8_клас-2025-2026.pdf' %}">
            Държавен план-прием в VIII клас за учебната 2025/2026 година
        </a>
        <small> / 20.05.2025 г.</small>
    </p>
    
    <p><strong>За учебната 2025 / 2026 година училището ще осъществи прием на ученици по следните професии и специалности:</strong></p>
    <p><strong><em>Прием след завършен VII клас (основно образование):</em></strong></p>
    <hr>

    <h3>ПО ПРОФЕСИЯ "ИКОНОМИСТ" - СПЕЦИАЛНОСТ "ИКОНОМИКА И МЕНИДЖМЪНТ"</h3>
    <ul>
        <li>с разширено изучаване на английски език;</li>
        <li>срок на обучение - 5 години;</li>
    </ul>

    <p><em>БАЛЪТ ЗА КЛАСИРАНЕ СЕ ОБРАЗУВА КАТО СБОР ОТ:</em></p>
    <ul>
        <li>удвоената оценка от теста по БЕЛ;</li>
        <li>удвоената оценка от теста по математика;</li>
        <li>оценките от двата балообразуващи предмета (математика и география) от свидетелството за завършено основно образование;</li>
    </ul>
    <hr>
    
    <h3>ПО ПРОФЕСИЯ "ОРГАНИЗАТОР ИНТЕРНЕТ ПРИЛОЖЕНИЯ " - СПЕЦИАЛНОСТ "ЕЛЕКТРОННА ТЪРГОВИЯ"</h3>
    <ul>
        <li>с разширено изучаване на английски език;</li>
        <li>срок на обучение - 5 години;</li>
    </ul>

    <p><em>БАЛЪТ ЗА КЛАСИРАНЕ СЕ ОБРАЗУВА КАТО СБОР ОТ:</em></p>
    <ul>
        <li>удвоената оценка от теста по БЕЛ;</li>
        <li>удвоената оценка от теста по математика;</li>
        <li>оценките от двата балообразуващи предмета (география и информационни технологии) от свидетелството за завършено основно образование;</li>
    </ul>
    <hr>

    <p><strong><em>Пълният курс на обучение VIII - XII клас дава възможност за:</em></strong></p>
    <ul>
        <li>Получаване на удостоверение за завършен първи гимназиален етап - след завършен 10 клас и на втори гимназиален етап - след завършен 12 клас;</li>
        <li>Полагане на държавни изпити след 12 клас за придобиване на трета степен на професионална квалификация "Икономист" и "Организатор интернет приложения" по национални изпитни програми, утвърдени от МОН по:
            <ul>
                <li>Теория на професията;</li>
                <li>Практика на професията;</li>
            </ul>
        </li>
        <li>В VIII клас се изучава разширено английски език, който продължава и в останалите класове;</li>
        <li>Обучението по тези професия дава възможност за придобиване на повече практически знания и умения чрез работа в Учебно предприятие;</li>
    </ul>
    <hr>

    <p><strong><em>График:</em></strong></p>
    <ul>
        <li>Изпити НВО:
            <ul>
                <li>Български език и литература – 18 юни 2025 г., начало 9:00 часа;</li>
                <li>Математика – 20 юни 2025 г., начало 9:00 часа;</li>
                <li>Резултатите от класирането ще бъдат обявени на платформата за държавния прием на адрес: 
                    <a href="https://infopriem.mon.bg">https://infopriem.mon.bg</a>;
                </li>
                <li>Всеки ученик има достъп до нея с входящия си номер и уникалния идентификационен код, вписани в служебната бележка;</li>
            </ul>
        </li>
        <li>I етап
            <ul>
                <li>Подаване на документи - 08–10 юли 2025 г.;</li>
                <li>Записване - 15-17.07.2025 г.;</li>
            </ul>
        </li>
        <li>IІ етап
            <ul>
                <li>Записване – 22-24.07.2025 г.;</li>
            </ul>
        </li>
        <li>IIІ етап
            <ul>
                <li>Подаване на документи - 28–29 юли 2025 г.;</li>
                <li>Записване - 31.07.2025 г.;</li>
            </ul>
        </li>
        <li>IV етап
            <ul>
                <li>Подаване на документи – 4-5 август 2025 г.;</li>
                <li>Записване – 07-08.08.2025 г.;</li>
                <li>След ІV етап – попълване на незаети места - до 11.09.2025 г.;</li>
            </ul>
        </li>
    </ul>
    <hr>

    <p><em> НЕОБХОДИМИ ДОКУМЕНТИ ПРИ КАНДИДАТСТВАНЕ:</em></p>
    <ul>
        <li>копие на свидетелство за завършено основно образование, заедно с оригинала на документа за сверяване;</li>
        <li>копие на медицински документ, издаден от личен лекар, заедно с оригинала на документа за сверяване;</li>
        <li>копие на служебната бележка за положените приемни изпити (по БЕЛ и Математика от НВО), заедно с оригинала на документа за сверяване;</li>
    </ul>

    <p>Работно време на канцеларията - от 8:00 до 16:30 часа.    / Телефон: 065992318</p>
    <hr class="hr-end">
    
</div>
{% endblock %}
