{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<div class="page-title">
    <h1>Прием</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <p>
        <a 
            class="file-link content-link" target="_blank"
            href="{% static 'assets/documents/plan_priem_8.pdf' %}">
            Държавен план-прием в VIII клас за учебната 2026/2027 година
        </a>
        <small> / 28.04.2026 г.</small>
    </p>
    
    <p><strong>За учебната 2026 / 2027 година училището ще осъществи прием на ученици по следните професии:</strong></p>
    <p><strong><em>Прием след завършено основно образование:</em></strong></p>
    <hr>

    <h3>ПО ПРОФЕСИЯ "МЕНИДЖМЪНТ И ИКОНОМИКА"</h3>
    <!-- <ul>
        <li>с разширено изучаване на английски език</li>
    </ul> -->
    <p>– с разширено изучаване на английски език</p>
    <p>Срок на обучение: 5 години</p>    

    <p><em>БАЛЪТ ЗА КЛАСИРАНЕ СЕ ОБРАЗУВА КАТО СБОР ОТ:</em></p>
    <ul>
        <li>удвоената оценка от теста по БЕЛ</li>
        <li>удвоената оценка от теста по математика</li>
        <li>оценките от двата балообразуващи предмета (математика и компютърно моделиране и информационни технологии) от свидетелството за завършено основно образование</li>
    </ul>
    <hr>
    
    <h3>ПО ПРОФЕСИЯ "ЕЛЕКТРОННА ТЪРГОВИЯ, МАРКЕТИНГ И РЕКЛАМА"</h3>
    <p>– с разширено изучаване на английски език</p>
    <p>Срок на обучение: 5 години</p>    
    <!-- <ul>
        <li>с разширено изучаване на английски език;</li>
        <li>срок на обучение - 5 години;</li>
    </ul> -->

    <p><em>БАЛЪТ ЗА КЛАСИРАНЕ СЕ ОБРАЗУВА КАТО СБОР ОТ:</em></p>
    <ul>
        <li>удвоената оценка от теста по БЕЛ</li>
        <li>удвоената оценка от теста по математика</li>
        <li>оценките от двата балообразуващи предмета (математика и компютърно моделиране и информационни технологии) от свидетелството за завършено основно образование</li>
    </ul>
    <hr>

    <p><strong><em>Пълният курс на обучение VIII - XII клас дава възможност за:</em></strong></p>
    <ul>
        <li>Получаване на удостоверение за завършен първи гимназиален етап - след завършен 10 клас и на втори гимназиален етап - след завършен 12 клас</li>
        <li>Полагане на държавни изпити след 12 клас за придобиване на трета степен на професионална квалификация "Мениджмънт и икономика" и "Електронна търговия, маркетинг и реклама" по национални изпитни програми, утвърдени от МОН по:
            <ul>
                <li>Теория на професията</li>
                <li>Практика на професията</li>
            </ul>
        </li>
        <li>В VIII клас се изучава разширено английски език, който продължава и в останалите класове</li>
        <li>Обучението по тези професии дава възможност за придобиване на повече практически знания и умения чрез работа в Учебно предприятие</li>
    </ul>
    <hr>

    <p><strong><em>График на дейностите:</em></strong></p>
    <ul>
        <li>Изпити НВО
            <ul>
                <li>Български език и литература – 17 юни 2026 г., начало 9:00 часа</li>
                <li>Математика – 19 юни 2026 г., начало 9:00 часа</li>
                <li>Резултатите от класирането ще бъдат обявени на платформата за държавния прием на адрес: 
                    <a href="https://infopriem.mon.bg">https://infopriem.mon.bg</a>
                </li>
                <li>Всеки ученик има достъп до нея с входящия си номер и уникалния идентификационен код, вписани в служебната бележка</li>
            </ul>
        </li>
        <li>I етап
            <ul>
                <li>Подаване на документи – 08-10 юли 2026 г.</li>
                <li>Записване – 15-17.07.2026 г.</li>
            </ul>
        </li>
        <li>IІ етап
            <ul>
                <li>Записване – 22-23.07.2026 г.</li>
            </ul>
        </li>
        <li>IIІ етап
            <ul>
                <li>Подаване на документи – 27-28 юли 2026 г.</li>
                <li>Записване – 30.07.2026 г.</li>
            </ul>
        </li>
        <li>IV етап
            <ul>
                <li>Подаване на документи – 03-04 август 2026 г.</li>
                <li>Записване – 06-07.08.2026 г.</li>
                <li>След ІV етап – заемане на свободните места – до 11.09.2026 г.</li>
            </ul>
        </li>
    </ul>
    <hr>

    <p><em> НЕОБХОДИМИ ДОКУМЕНТИ ПРИ КАНДИДАТСТВАНЕ:</em></p>
    <ul>
        <li>копие на свидетелство за завършено основно образование, заедно с оригинала на документа за сверяване</li>
        <li>копие на медицински документ, издаден от личен лекар, заедно с оригинала на документа за сверяване</li>
        <li>копие на служебната бележка за положените приемни изпити (по БЕЛ и Математика от НВО), заедно с оригинала на документа за сверяване</li>
    </ul>

    <p>Работно време на канцеларията – от 8:00 до 16:30 часа.</p>
    <ul>
        <li>Телефон: 065992318</li>
    </ul>
    <hr class="hr-end">
    
</div>
{% endblock %}
