{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ТГ "Васил Априлов" - Червен бряг</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet"> -->
    <!-- style="font-size: 12pt; font-family: comic sans ms, sans-serif;" -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

    <link rel="stylesheet" href="{% static 'core/css/site.css' %}">

    {% block sliderlink %}
    {% endblock %}
</head>
<body>

    {% include "core/includes/topbar.html" %}
    {% include "core/includes/header.html" %}
    {% include 'core/includes/nav.html' %}

    <div>
        {% block slider %}{% endblock %}
    </div>

    <main class="site-content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'core/includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
    <script>
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: true,
            zoomable: true,
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const imgs = document.querySelectorAll(".rich-gallery img");

            imgs.forEach((img, index) => {
                const delay = index * 120; // stagger: всяка следваща е +120ms

                if (img.complete) {
                    setTimeout(() => img.classList.add("loaded"), delay);
                } else {
                    img.addEventListener("load", () => {
                        setTimeout(() => img.classList.add("loaded"), delay);
                    });
                }
            });
        });
    </script>

</body>
</html>
