{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ТГ "Васил Априлов" - Червен бряг</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

    <link rel="stylesheet" href="{% static 'assets/css/site.css' %}">

    <link rel="icon" type="image/x-icon"
      href="{% static 'assets/favicon/favicon.ico' %}">

    <link rel="icon" type="image/png" sizes="32x32"
        href="{% static 'assets/favicon/favicon-32x32.png' %}">

    <link rel="icon" type="image/png" sizes="16x16"
        href="{% static 'assets/favicon/favicon-16x16.png' %}">

    <link rel="apple-touch-icon"
        href="{% static 'assets/favicon/apple-touch-icon.png' %}">

    {% block sliderlink %}
    {% endblock %}
</head>
<body>

    {% include "core/includes/topbar.html" %}
    {% include "core/includes/header.html" %}
    {% include 'core/includes/nav.html' %}

    <div>
        {% block slider %}{% endblock %}
    </div>

    <main class="site-content">
        <div class="container">
            {% block page_intro %}{% endblock %}
            {% block page_title %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'core/includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js" defer></script>
    <script src="{% static 'assets/js/base.js' %}" defer></script>

</body>
</html>
