{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-container">
    
    <h1>Контакти</h1>

    <div class="contacts-two-column">

    <!-- LEFT: CONTACT INFO -->
    <div class="contact-info-box">

        <p>
            <img class="contact-icon" src="{% static 'core/icons/phone.svg' %}">
            <strong class="contact-label">Телефон:</strong>
            <span class="contact-value">0659 9 23 18</span>
        </p>

        <p>
            <img class="contact-icon" src="{% static 'core/icons/email.svg' %}">
            <strong class="contact-label">E-mail:</strong>
            <a class="contact-value" href="mailto:info-1500219@edu.mon.bg">
                info-1500219@edu.mon.bg
            </a>
        </p>

        <p>
            <img class="contact-icon" src="{% static 'core/icons/location.svg' %}">
            <strong class="contact-label">Адрес:</strong><br>
            <span class="contact-value">
                гр. Червен бряг – 5980, обл. Плевен<br>
                ул. „Тома Петков“ № 27
            </span>
        </p>

        <div class="contact-social">
            <a href="https://www.facebook.com/tgvaprilov/" target="_blank">
                <img src="{% static 'core/icons/facebook.svg' %}">
            </a>
            <a href="https://www.youtube.com/@tgaprilov" target="_blank">
                <img src="{% static 'core/icons/youtube.svg' %}">
            </a>
        </div>

    </div>

    <!-- RIGHT: GOOGLE MAP -->
    <div class="contact-map-box">
        <!-- <iframe
            width="100%"
            height="420"
            style="border:0; border-radius:10px;"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q=43.2781879,24.0860696&z=18&output=embed">
        </iframe> -->
        <iframe
            width="100%"
            height="420"
            style="border:0; border-radius:10px;"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q=Targovska%20Gimnazia%20Vasil%20Aprilov%2C%20Cherven%20Bryag%2C%20Bulgaria&ll=43.2781879,24.0860696&z=18&output=embed">
        </iframe>
    </div>

</div>
   
 

</div>
{% endblock %}
