{% extends "core/base.html" %}

{% load static %}

{% block content %}
<div class="page-container">
    <h1>Програми и планове</h1>
    <p>Тук ще напишем информация за програмите и плановете...</p>
    
    <h3>Програми</h3>
    <ul>
        <li><a href="{% static 'core/documents/План за действие към стратегията за развитие 2024_2025.pdf' %}" target="_blank">План за действие към стратегията за развитие 2024-2025</a> / 8 окт. 2024</li>
        <li><a href="{% static 'core/documents/План за действие към стратегия.pdf' %}" target="_blank">План за действие към стратегията за развитие 2023-2024</a> / 4 дек. 2023</li>
        <li><a href="{% static 'core/documents/Стратегия за развитие на училището.pdf' %}" target="_blank">Стратегия за развитие на училището 2023-2025</a> / 30 ное. 2023</li>
    </ul>


    <h3>Планове</h3>
</div>
{% endblock %}
