{% extends "core/base.html" %}

{% load static %}

{% block content %}
<div class="page-container">
    <h1>Услуги и документи</h1>
    
    <ul>
        <li><a href="{% static 'core/documents/Инфо 138 - приемане и преместване.docx' %}">Приемане и преместване на ученици</a></li>
        <li><a href="{% static 'core/documents/Инфо 141 - диплома.docx' %}">Издаване на диплома за средно образование</a></li>
        <li><a href="{% static 'core/documents/Инфо 143 - валидиране.docx' %}">Издаване на удостоверения за валидиране на компетентности</a></li>
        <li><a href="{% static 'core/documents/Инфо 147 - служ. бележка за подадено заявление ДЗИ 1.docx' %}">Служебна бележка за подадено заявление за допускане до ДЗИ</a></li>
        <li><a href="{% static 'core/documents/Инфо 148 - издаване служ. бележка за допускане ДЗИ 2.docx' %}">Служебна бележка за допускане до ДЗИ</a></li>
        <li><a href="{% static 'core/documents/Инфо 149 - проверка способности-1.docx' %}">Издаване на служебна бележка за резултати</a></li>
        <li><a href="{% static 'core/documents/Инфо 153 - дубликати.docx' %}">Издаване на дубликат на документ за завършен клас</a></li>
        <li><a href="{% static 'core/documents/Инфо 154 - удостов. проф. обучение и СПК.docx' %}">Издаване на Удостоверения за професионално обучение и СПК</a></li>
        <li><a href="{% static 'core/documents/Инфо 155 - удост. свидет валидиране проф. квалиф.docx' %}">Издаване на УВПК по част от професия и СВПК</a></li>
        <li><a href="{% static 'core/documents/Инфо 156 - европейско прил дипл. СО.docx' %}">Издаване на европейско приложение към дипломата за СО</a></li>
        <li><a href="{% static 'core/documents/Инфо 156 - европейско прил. проф. квалиф.docx' %}">Eвропейско приложение към свидетелство за ПК</a></li>
    </ul>
    
</div>
{% endblock %}
