{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>Харта на клиента</h1>
    <p>(Хартата на клиента е документ, който изразява ангажимента на дадена организация към своите клиенти, като описва принципите, които ще спазва при предоставяне на услуги. Тя служи за да се осигури коректно отношение, взаимно уважение и бърз достъп до услуги, като се гарантират законност, безпристрастност и защита на личната информация) /може да се сложи – текста го имам, само трябва да се смени с името на нашето училище</p>
</div>
{% endblock %}
