{% extends "core/base.html" %}

{% load static %}

{% block content %}
<div class="page-container">
    <h1>Правилници</h1>

    <h3>Училищни правилници</h3>
    <ul>
        <li><a href="{% static 'core/documents/Правилник за дейността на ТГ.pdf' %}" target="_blank">Правилник за дейността на TГ „Васил Априлов“ 2024-2025</a> / 24 януари 2025 г.</li>
        <li><a href="{% static 'core/documents/Правилник за вътрешния трудов ред.pdf' %}" target="_blank">Правилник за вътрешния трудов ред 2024-2025</a> / 8 октомври 2024 г.</li>
        <li><a href="{% static 'core/documents/Правилник за безопасни условия на обучение, възпитание и труд.pdf' %}" target="_blank">Правилник за безопасни условия на обучение, възпитание и труд</a> / 8 октомври 2024 г.</li>
        <li><a href="{% static 'core/documents/Правила за получаване на учебници и учебни помагала.pdf' %}" target="_blank">Правила за получаване на учебници и учебни помагала</a> / 8 октомври 2024 г.</li>
        <li><a href="{% static 'core/documents/Училищен правилник.pdf' %}" target="_blank">Училищен правилник</a> / 30 ноември 2023 г.</li>
    </ul>

    <h3>Вътрешни правила</h3>
    <ul>
        <li><a href="{% static 'core/documents/Вътрешни правила за защита на личните данни.pdf' %}" target="_blank">Вътрешни правила за защита на личните данни</a> / 8 октомври 2024 г.</li>
        <li><a href="{% static 'core/documents/Вътрешни правила за управление и развитие на човешки ресурси.pdf' %}" target="_blank">Вътрешни правила за управление и развитие на човешки ресурси</a> / 8 октомври 2024 г.</li>
        <li><a href="{% static 'core/documents/Вътрешни правила информационна сигурност.pdf' %}" target="_blank">Вътрешни правила информационна сигурност</a> / 8 октомври 2024 г.</li>
        <li><a href="{% static 'core/documents/Вътрешни правила - антикорупция.pdf' %}" target="_blank">Вътрешни правила за превенция и противодействие на корупция, измами и др.</a></li>
        <li><a href="{% static 'core/documents/ПРАВИЛА ЗА ДОБРО ПОВЕДЕНИЕ В ТГВА.docx' %}" target="_blank">Правила за добро поведение в TГ „Васил Априлов“</a></li>
    </ul>
</div>
{% endblock %}
