{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<div class="page-title">
    <h1>Форми на обучение</h1>
</div>
{% endblock %}


{% block content %}
<div class="page-container">

    <h3>Дневна форма</h3>

    <ul>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/8 - ИМ.pdf' %}">
                VIII а клас - специалност "Икономика и мениджмънт"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/8 - ET.pdf' %}">
                VIII а клас - специалност "Електронна търговия"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/9 - ИМ.pdf' %}">
                IX а клас - специалност "Икономика и мениджмънт"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/9 - ЕТ.pdf' %}">
                IX а клас - специалност "Електронна търговия"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/10 - ИМ.pdf' %}">
                X а клас - специалност "Икономика и мениджмънт"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/10 - ЕТ.pdf' %}">
                X а клас - специалност "Електронна търговия"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/11 - ИМ.pdf' %}">
                XI а клас - специалност "Икономика и мениджмънт"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/11 - ЕТ.pdf' %}">
                XI а клас - специалност "Електронна търговия"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/12 - ИМ.pdf' %}">
                XII а клас - специалност "Икономика и мениджмънт"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/12 - ЕТ.pdf' %}">
                XII а клас - специалност "Електронна търговия"
            </a>
        </li>
    </ul>

    <h3>Самостоятелна форма</h3>

    <ul>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/11 - ЕТ - СФО.pdf' %}">
                XI клас - специалност "Електронна търговия"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/12 - ИМ - СФО.pdf' %}">
                XII клас - специалност "Икономика и мениджмънт"
            </a>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/12 - ЕТ - СФО.pdf' %}">
                XII клас - специалност "Електронна търговия"
            </a>
        </li>
    </ul>
    <hr class="hr-end">

</div>
{% endblock %}
