{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="page-container">

    <h1 class="news-title">{{ article.title }}</h1>
    <p class="news-date">{{ article.created_at|date:"d.m.Y H:i" }}</p>

    {% if article.image or article.images.all %}
    <div class="news-gallery-grid">

        {% if article.image %}
        <a href="{{ article.image.url }}" 
           class="glightbox" 
           data-gallery="news-{{ article.id }}">
            <img src="{{ article.image.url }}" 
                 alt="{{ article.title }}">
        </a>
        {% endif %}

        {% for img in article.images.all %}
        <a href="{{ img.image.url }}" 
           class="glightbox" 
           data-gallery="news-{{ article.id }}">
            <img src="{{ img.image.url }}" 
                 alt="{{ img.caption }}">
        </a>
        {% endfor %}

    </div>
    {% endif %}

    {% if article.youtube_id %}
    <a href="https://www.youtube.com/watch?v={{ article.youtube_id }}"
       class="glightbox"
       data-type="video"
       data-gallery="news-{{ article.id }}">

        <div class="news-video-wrapper">
            <img src="https://img.youtube.com/vi/{{ article.youtube_id }}/hqdefault.jpg"
                 alt="Видео"
                 class="news-video-thumbnail">
            <div class="news-video-play-icon">▶</div>
        </div>

    </a>
    {% endif %}

    <div class="news-detail-content">
        {{ article.content|linebreaks }}
    </div>

    {% if related_albums %}
        <div class="related-albums-block">
            <h3>Свързани фото албуми</h3>

            <ul class="related-albums-list">
                {% for album in related_albums %}
                    <li>
                        <a href="{% url 'core:gallery_detail' album.slug %}">
                            {{ album.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <p class="back-to-news">
        <a class="read-more" href="{% url 'core:news_list' %}">
            ← Обратно към новините
        </a>
    </p>

</div>
{% endblock %}
