{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-container">

    <h1>Училищен вестник</h1>

    <div class="newspaper-grid">
        {% for issue in issues %}
        <div class="newspaper-card">

            <a href="{{ issue.pdf.url }}" target="_blank">
                <img src="{{ issue.get_cover }}" 
                     alt="Брой {{ issue.issue_number }}"
                     class="newspaper-cover">
            </a>

            <div class="newspaper-header-center">
                <span class="issue-number">Брой {{ issue.issue_number }}</span>
                <span class="issue-date">{{ issue.published_at|date:"d.m.Y" }}</span>
            </div>

            {% if issue.title %}
            <p class="newspaper-title">{{ issue.title }}</p>
            {% endif %}

        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
