{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>Проекти</h1>
    <p>Тук ще сложим съдържание за проектите. Има снимки</p>
    Проектни дейности: проект „Ученически практики“
 През учебната 2021/2022 г. 5 ученици от специалност "Икономическа информатика" се включиха в проект Ученически практики - 2.
 През учебната 2022/2023 г. 15 ученици от специалност "Икономика и мениджмънт" се включиха в проект Ученически практики - 2.
/имахме и заедно в час и моя час – ще потърся тук информация!!!/
Програми и проекти
1. НП "ИКТ" модул "Интернет свързаност"
2. НП "Оптимизация на вътрешната структура на персонала"
3. НП "Без свободен час"
4. Проект Спорт
5. Проект Моето първо работно място
6. Изграждане на СТЕМ център
7. Изграждане на спортна площадка по Програмата за изграждане и основен ремонт на спортни площадки и физкултурни салони в държавните и общинските училища за периода 2024 - 2027 г.
     
ВЪТРЕШНО УЧИЛИЩНИ ЕКО ПРОЕКТИ – Екофикейшън и АРК /Йорданова/
2024-2025 - Програми и проекти, по които работи училището през учебната 2024/2025 година.
2025-2026
Полезни линкове:
https://upraktiki.mon.bg/ - линк
www.mon.bg
смартест - 
уча се
канва

рейтингова система на висшите училища
ще има 42 броя вестник АКТИВ!!!!!/обмислям дали да е сам таб или към галерия/


</div>
{% endblock %}
