{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-container">

    <h1>Програми и проекти</h1>

    <h3>Програми и проекти, по които работи училището през учебната 2025/2026 година</h3>
    <ul>
        <li>НП „ИКТ“ модул „Интернет свързаност“ и „Изграждане на Wi-Fi“</li>
        <li>НП „Иновации в действие“</li>
        <li>НП „Оптимизация на вътрешната структура на персонала“</li>
        <li>НП „България – образователни маршрути“</li>
        <li>НП „Без свободен час“</li>
        <li>Проект „Модернизиране на професионалното образование и обучение“</li>
        <li>Проект „Моето първо работно място“</li>
        <li>Проект „Спорт“</li>
        <li>Изграждане на СТЕМ център</li>
        <li>Изграждане на спортна площадка по Програмата за изграждане и основен ремонт на спортни площадки и физкултурни салони в държавните и общинските училища за периода 2024 - 2027 г.</li>
    </ul>

    <div class="rich-gallery">

        <figure>
            <a href="{% static 'assets/images/inovations.png' %}" class="glightbox" data-gallery="base-gallery">
                <img src="{% static 'assets/images/inovations.png' %}" alt="Материална база 6">
            </a>
            <figcaption></figcaption>
        </figure>

        <figure>
            <a href="{% static 'assets/images/stem.png' %}" class="glightbox" data-gallery="base-gallery">
                <img src="{% static 'assets/images/stem.png' %}" alt="Материална база 7">
            </a>
            <figcaption></figcaption>
        </figure>

    </div>

    <h3>Проектни дейности: проект „Ученически практики“</h3>
    <ul>
        <li>През учебната 2021/2022 г. 5 ученици от специалност „Икономическа информатика“ се включиха в проект Ученически практики - 2</li>
        <li>През учебната 2022/2023 г. 15 ученици от специалност „Икономика и мениджмънт“ се включиха в проект Ученически практики - 2</li>
    </ul>

    <h3>Вътрешноучилищни еко проекти</h3>
    <ul>
        <li>Екофикейшън и АРК /Йорданова/</li>
    </ul>

    <!-- <p>Примерни снимки</p> -->

    <div class="rich-gallery">
        
        <!-- <figure>
            <a href="{% static 'assets/images/base_1.jpg' %}" class="glightbox" data-gallery="base-gallery">
                <img src="{% static 'assets/images/base_1.jpg' %}" alt="Материална база 1">
            </a>
            <figcaption>Материална база</figcaption>
        </figure>

        <figure>
            <a href="{% static 'assets/images/base_2.jpg' %}" class="glightbox" data-gallery="base-gallery">
                <img src="{% static 'assets/images/base_2.jpg' %}" alt="Материална база 2">
            </a>
            <figcaption></figcaption>
        </figure> -->

    </div>

     

 <!-- <p>Полезни линкове: 
https://upraktiki.mon.bg/ - линк
www.mon.bg
смартест - 
уча се
канва

   ????????? тук или при ЗА УЧЕНИЦИТЕ?</p>

    <p>рейтингова система на висшите училища???????????????????</p> -->


</div>
{% endblock %}
