{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<div class="page-title">
    <h1>Графици</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <p>
        👉
        <a href="{% url 'documents:documents_by_category' 'grafitsi' %}"
        class="content-link">
            Виж графиците за изпити 🕒             
        </a>
    </p>
    <hr>

    <h3>Първи срок</h3>
    <ul class="document-list">
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График котролни работи 1 срок 2025-26.pdf' %}">
                График за провеждане на контролни работи
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График класни работи 1 срок 2025-26.pdf' %}">
                График за провеждане на класни работи
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График консултации 1 срок 2025-26.pdf' %}">
                График за провеждане на консултации
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
            class="file-link content-link" target="_blank"
            href="{% static 'assets/documents/График класен ръководител 1 срок 2025-26.pdf' %}">
            График за провеждане часа на класния ръководител
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График кл. р-л втори доп. час 1 срок 2025-26.pdf' %}">
                График за провеждане втория допълнителен час на класния ръководител
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График дежурство 1 срок 2025-26.pdf' %}">
                График за дежурство на учителите
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
    </ul>
    <hr>

    <h3>Втори срок</h3>
    <ul class="document-list">
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/график контролни 2 срок.pdf' %}">
                График за провеждане на контролни работи
            </a>
            <small> / 09.02.2026 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/график класни работи 2 срок.pdf' %}">
                График за провеждане на класни работи
            </a>
            <small> / 09.02.2026 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/график консултации втори срок кориг.pdf' %}">
                График за провеждане на консултации
            </a>
            <small> / 09.02.2026 г.</small>
        </li>
        <li>
            <a 
            class="file-link content-link" target="_blank"
            href="{% static 'assets/documents/график ЧК 2 срок.pdf' %}">
            График за провеждане часа на класния ръководител
            </a>
            <small> / 09.02.2026 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/график за работа с родители и документация 2 срок.pdf' %}">
                График за работа с родители и документация
            </a>
            <small> / 09.02.2026 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/график дежурство учители 2 срок.pdf' %}">
                График за дежурство на учителите
            </a>
            <small> / 09.02.2026 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/график за приемното и работно време на директора.pdf' %}">
                График за приемното и работно време на директора
            </a>
            <small> / 09.02.2026 г.</small>
        </li>
    </ul>

    <hr class="hr-end">

</div>
{% endblock %}
