{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<div class="page-title">
    <h1>ДЗИ и ЗДИППК<em>– 2025/2026 година</em></h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <h3>Сесия май – юни</h3>
    <ul>
        <li><p><strong>Задължителен държавен зрелостен изпит по български език и литература</strong><em> – 20 май 2026 г., начало 08:30 ч.</em></p></li>
        <li><p><strong>Задължителен държавен изпит за придобиване на професионална квалификация</strong> (част по теория на професията)<em> – 22 май 2026 г., начало 08:30 ч.</em></p></li>
        <li><p><strong>Допълнителни държавни зрелостни изпити по желание на ученика</strong><em> – в периода 26 май – 02 юни 2026 г.</em></p></li>
    </ul>
    <hr>

    <h3>Сесия август – септември</h3>
    <ul>
        <li><p><strong>Задължителен държавен зрелостен изпит по български език и литература</strong><em> – 21 август 2026 г., начало 08:30 ч.</em></p></li>
        <li><p><strong>Задължителен държавен изпит за придобиване на професионална квалификация</strong> (част по теория на професията)<em> – 24 август 2026 г., начало 08:30 ч.</em></p></li>
        <li><p><strong>Допълнителни държавни зрелостни изпити по желание на ученика</strong><em> – в периода 25 – 28 август 2026 г.</em></p></li>
    </ul>
    <hr class="hr-end">

</div>
{% endblock %}
