{% extends "core/base.html" %}

{% block page_title %}
<div class="page-title">
    <h1>За учениците</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <ul class="link-list">
        <li><h3><a class="content-link" href="{% url 'core:students_available_places' %}">Свободни места</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_daily_regime' %}">Дневен режим</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_schedules' %}">Графици</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_nvo' %}">НВО</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_dzi' %}">ДЗИ и ЗДИППК</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_scholarships' %}">Стипендии</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_useful_links' %}">Полезни връзки</a></h3></li>
    </ul>
    <hr class="hr-end">
    
</div>
{% endblock %}