{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-container">
    <h1>Графици</h1>

    <!-- <a href="">График изпити</a> -->
     <p>
        👉
        <a href="https://tg-aprilov.com/documents/grafitsi/"
        class="content-link">
            Виж графиците за изпити 🕒             
        </a>
    </p>


    <h3>Първи срок</h3>

    <ul>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График котролни работи 1 срок 2025-26.pdf' %}">
                График за провеждане на контролни работи
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График класни работи 1 срок 2025-26.pdf' %}">
                График за провеждане на класни работи
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График консултации 1 срок 2025-26.pdf' %}">
                График за провеждане на консултации
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
            class="file-link content-link" target="_blank"
            href="{% static 'assets/documents/График класен ръководител 1 срок 2025-26.pdf' %}">
            График за провеждане часа на класния ръководител
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График кл. р-л втори доп. час 1 срок 2025-26.pdf' %}">
                График за провеждане втория допълнителен час на класния ръководител
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
        <li>
            <a 
                class="file-link content-link" target="_blank"
                href="{% static 'assets/documents/График дежурство 1 срок 2025-26.pdf' %}">
                График за дежурство на учителите
            </a>
            <small> / 30.09.2025 г.</small>
        </li>
    </ul>


    <h3>Втори срок</h3>

    <!-- <p>Тук ще сложим съдържание за графиците.</p>
    <p>Графици за изпити и мероприятия. Да се качат документи /пдф/ за: 
    -консултации
    - провеждане на приравнителни изпити
    -провеждане на изпити в самостоятелна форма
    - провеждане на поправителни изпити
    </p> -->
</div>
{% endblock %}
