{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>За учениците</h1>
    <ul>
        <li><h3><a class="content-link" href="{% url 'core:students_available_places' %}">Свободни места</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_daily_regime' %}">Дневен режим</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_schedules' %}">Графици</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_nvo' %}">НВО</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_dzi' %}">ДЗИ и ЗДИППК</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_scholarships' %}">Стипендии</a></h3></li>
        <li><h3><a class="content-link" href="{% url 'core:students_diary' %}">Електронен дневник</a></h3></li>
    </ul>
</div>
{% endblock %}