{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-container">
    <h1>НВО <em>– 2025/2026 година</em></h1>

    <h3>Дати за провеждане на изпитите от националните външни оценявания - <em>Х клас</em></h3>

    <ul>
        <li><p><strong>Български език и литература</strong><em> – 17 юни 2026 г., начало 08:00 ч.</em></p></li>
        <li><p><strong>Математика с интегриране на други учебни предмети</strong><em> – 19 юни 2026 г., начало 08:00 ч.</em></p></li>
        <li><p><strong>Чужд език</strong> (по желание на ученика)<em> – 22 юни 2026 г.</em></p></li>
        <li><p><strong>Информационни технологии за измерване на дигитални компетенции</strong> (по желание на ученика)<em> – 23 юни 2026 г.</em></p></li>
    </ul>   

    <!-- <p>
        НВО
        Дати на провеждане
        Подаване на заявление /образец/
    </p> -->
</div>
{% endblock %}
