{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-container">
    <h1>Свободни места за ученици</h1>

    <p>
        <a 
            class="file-link content-link" target="_blank"
            href="{% static 'assets/documents/свободни места ученици.pdf' %}">
            Обявени свободни места за ученици
        </a>
    </p>

    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Клас</th>
                <th>Професия</th>
                <th>Специалност</th>
                <th>Брой свободни места</th>
                <th>Дата на публикуване</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9 а</td>
                <td>Икономист</td>
                <td>Икономика и мениджмънт</td>
                <td>2</td>
                <td>15.09.2025 г.</td>
            </tr>
            <tr>
                <td>9 а</td>
                <td>Организатор Интернет приложения</td>
                <td>Електронна търговия</td>
                <td>3</td>
                <td>26.09.2025 г.</td>
            </tr>
            <tr>
                <td>10 а</td>
                <td>Икономист</td>
                <td>Икономика и мениджмънт</td>
                <td>3</td>
                <td>08.10.2025 г.</td>
            </tr>
            <tr>
                <td>10 а</td>
                <td>Организатор Интернет приложения</td>
                <td>Електронна търговия</td>
                <td>1</td>
                <td>18.09.2025</td>
            </tr>
            <tr>
                <td>11 а</td>
                <td>Икономист</td>
                <td>Икономика и мениджмънт</td>
                <td>1</td>
                <td>15.09.2025 г.</td>
            </tr>
            <tr>
                <td>11 а</td>
                <td>Организатор Интернет приложения</td>
                <td>Електронна търговия</td>
                <td>1</td>
                <td>15.09.2025 г.</td>
            </tr>
            <tr>
                <td>12 а</td>
                <td>Икономист</td>
                <td>Икономика и мениджмънт</td>
                <td>2</td>
                <td>15.09.2025 г.</td>
            </tr>
            <tr>
                <td>12 а</td>
                <td>Организатор Интернет приложения</td>
                <td>Електронна търговия</td>
                <td>1</td>
                <td>15.09.2025 г.</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
