<nav class="main-nav">
    <ul>
        <li><a href="{% url 'core:home' %}">Начало</a></li>
        <li>
            <a href="{% url 'core:about' %}">За нас</a>
            <ul class="dropdown">
                <li><a href="{% url 'core:about_history' %}">История</a></li>
                <li><a href="{% url 'core:about_base' %}">Материална база</a></li>
                <li><a href="{% url 'core:about_mission' %}">Мисия и визия</a></li>
                <li><a href="{% url 'core:about_team' %}">Екип</a></li>
                <li><a href="{% url 'core:about_council' %}">Обществен съвет</a></li>
                <li><a href="{% url 'core:about_profile' %}">Профил на купувача</a></li>
            </ul>
        </li>

        <li>
            <a href="{% url 'documents:documents_overview' %}">Документи</a>
            <ul class="dropdown">
                {% for super in menu_supercategories %}
                    <li><a href="{% url 'documents:documents_by_super' super.slug %}">{{ super.name }}</a></li>
                {% endfor %}
            </ul>
        </li>


        <li><a href="{% url 'core:admission' %}">Прием</a></li>
        <li><a href="{% url 'core:education' %}">Обучение</a></li>

        <li>
            <a href="{% url 'core:students' %}">За учениците</a>
            <ul class="dropdown">
                <li><a href="{% url 'core:students_daily_regime' %}">Дневен режим</a></li>
                <li><a href="{% url 'core:students_schedules' %}">Графици</a></li>
                <li><a href="{% url 'core:students_nvo' %}">НВО</a></li>
                <li><a href="{% url 'core:students_dzi' %}">ДЗИ и ДИЗПК</a></li>
                <li><a href="{% url 'core:students_scholarships' %}">Стипендии</a></li>
                <li><a href="{% url 'core:students_diary' %}">Електронен дневник</a></li>
            </ul>
        </li>

        <li><a href="{% url 'core:projects' %}">Проекти и програми</a></li>
        <li>
            <a href="{% url 'news:news_list' %}">Новини</a>
            <ul class="dropdown">
                <li><a href="{% url 'news:news_list' %}">Актуални новини</a></li>
                <li><a href="{% url 'newspaper:newspaper_list' %}">Училищен вестник</a></li>
                <li><a href="{% url 'news:creativity' %}">Творчество</a></li>
            </ul>
        </li>
        <li><a href="{% url 'gallery:gallery_list' %}">Галерия</a></li>
        <li><a href="{% url 'core:contacts' %}">Контакти</a></li>
    </ul>
</nav>
