{% load static %}

<div class="top-bar">
    <div class="container top-bar-content">
        <div class="contact-info">
            <span>📞 0659 9 23 18</span>
            <span>✉ info-1500219@edu.mon.bg</span>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/tgvaprilov/" target="_blank">
                <img src="{% static 'core/images/facebook.png' %}" alt="Facebook Icon">
            </a>
        </div>
    </div>
</div>


<!-- <div class="top-bar">
    <div class="container">
        <div class="top-bar-left">
            <span>📞 +359 888 123 456</span>
            <span>✉️ info@school.bg</span>
        </div>
        <div class="top-bar-right">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</div> -->
