{% load static %}

<div class="top-bar">
    <div class="container top-bar-content">

        <div class="topbar-contact">
            <a href="tel:065992318" class="topbar-icon-link">
                <img src="{% static 'core/icons/phone.svg' %}" alt="Телефон">
                <span>0659 9 23 18</span>
            </a>

            <a href="mailto:info-1500219@edu.mon.bg" class="topbar-icon-link">
                <img src="{% static 'core/icons/email.svg' %}" alt="Имейл">
                <span>info-1500219@edu.mon.bg</span>
            </a>
        </div>

        <div class="topbar-social">
            <a href="https://www.facebook.com/tgvaprilov/" target="_blank" class="topbar-icon-link">
                <img src="{% static 'core/icons/facebook_burgundy.svg' %}" alt="Facebook">
            </a>
            <a href="https://www.youtube.com/@tgvaprilov" target="_blank" class="topbar-icon-link">
                <img src="{% static 'core/icons/youtube_burgundy.svg' %}" alt="YouTube">
            </a>
        </div>

    </div>
</div>
