{% if documents %}
    <ul class="document-list">
        {% for doc in documents %}
            <li>
                <a class="file-link content-link"
                   href="{{ doc.file.url }}"
                   target="_blank">
                    {{ doc.title }}
                </a>

                {% if doc.description %}
                    <small> – {{ doc.description }}</small>
                {% endif %}

                {% if doc.uploaded_at %}
                    <small> / {{ doc.uploaded_at }}</small>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p><em>Няма документи в тази категория.</em></p>
{% endif %}
