{% extends "core/base.html" %}

{% block page_title %}
<div class="page-title">
    <h1>Документи</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    <ul class="link-list">
        {% for cat in categories %}
            <li>
                <h3>
                    <a class="content-link"
                       href="{% url 'documents:documents_by_category' cat.code %}">
                        {{ cat.name }}
                    </a>
                </h3>
            </li>
        {% endfor %}

        {% if show_archive %}
            <li>
                <h3>
                    <a class="content-link"
                       href="{% url 'documents:documents_archive' %}">
                        📦 Архив ({{ archived_count }})
                    </a>
                </h3>
            </li>
        {% endif %}
    </ul>
    <hr class="hr-end">
    
</div>
{% endblock %}
