{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>Документи</h1>

    <ul>
        {% for cat in categories %}
            <li>
                <h3>
                    <a class="content-link"
                       href="{% url 'documents:documents_by_category' cat.code %}">
                        {{ cat.name }}
                    </a>
                </h3>
            </li>
        {% endfor %}

        {% if show_archive %}
            <li>
                <h3>
                    <a class="content-link"
                       href="{% url 'documents:documents_archive' %}">
                        📦 Архив ({{ archived_count }})
                    </a>
                </h3>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}




{% comment %}

{% extends "core/base.html" %}

{% block content %}
<div class="page-container">
    <h1>Документи</h1>

    <ul>
        {% for category in menu_categories %}
            <li>
                <h3>
                    <a class="content-link"
                       href="{% url 'documents:documents_by_category' category.code %}">
                        {{ category.name }}
                    </a>
                </h3>
            </li>
        {% empty %}
            <li><em>Няма налични категории.</em></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% endcomment %}
