{% extends "core/base.html" %}
{% load document_tags %}
{% block content %}

<div class="page-container">
    <h1>{{ supercategory.name }}</h1>

    {% if categories|length <= 1 %}
        {# Ако има само една категория, директно показваме документите #}
        {% with cat=categories.0 %}
            {% show_documents cat %}
        {% endwith %}
    {% else %}
        {# Повече от една категория – групиране по h3 #}
        {% for cat in categories %}
            <h3>{{ cat.name }}</h3>
            {% show_documents cat %}    
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
