{% extends "core/base.html" %}
{% load document_tags %}

{% block page_title %}
<div class="page-title">
    <h1>Архив</h1>
</div>
{% endblock %}

{% block content %}
<div class="page-container">

    {% if archive_tree %}
        {% for block in archive_tree %}
            <h2>{{ block.category.name }}</h2>

            {% for subblock in block.subcategories %}
                <h3>{{ subblock.subcategory.name }}</h3>

                <ul class="document-list">
                    {% for doc in subblock.documents %}
                        <li>
                            <a class="file-link content-link"
                               href="{{ doc.file.url }}"
                               target="_blank">
                                {{ doc.title }}
                            </a>

                            {% if doc.description %}
                                <small> – {{ doc.description }}</small>
                            {% endif %}

                            {% if doc.uploaded_at %}
                                <small> / {{ doc.uploaded_at }}</small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            <hr class="hr-end">
        {% endfor %}
    {% else %}
        <p><em>Няма архивирани документи.</em></p>
    {% endif %}

</div>
{% endblock %}
